.message-col {
	vertical-align: top;
}

.cell-border {
	border: 2px solid #bbb; padding: 5px;
}

.message-item {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.message-container {
	overflow-y: auto;
	height: 480px;
}

.message-input {
	font-size: 24px;
	font-family: verdana;
	color: #202080;
}